# use glob syntax
syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.cachefile
*.tlog
[Bb]uild
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.userprefs
*.pidb
*.unitypackage
*.jtconfig

Publishing/*.exe

Security/**

Packages/**
packages/**

Setups/Windows/Dependencies/**

Source/Sceelix.External.Unity3D/Build/**
Source/Sceelix.External.Unity3D/Library/**
Source/Sceelix.External.Unity3D/Temp/**
Source/Sceelix.External.Unity3D/*.csproj
Source/Sceelix.External.Unity3D/*.sln
Source/Sceelix.External.Unity3D/*.unityproj
Source/Sceelix.External.Unity3D/*.suo
Source/Sceelix.External.Unity3D/*.sln.docstates
Source/Sceelix.External.Unity3D/*.pidb
Source/Sceelix.External.Unity3D/*.userprefs
Source/Sceelix.External.Unity3D/*.DS_Store
Source/Sceelix.External.Unity3D/Assets/Environment/**
Source/Sceelix.External.Unity3D/Assets/SceelixAssets/**
Source/Sceelix.External.Unity3D/Assets/StreamingAssets/**
Source/Sceelix.External.Unity3D/Assets/Skyboxes/**
Source/Sceelix.External.Unity3D/.idea/.idea.Sceelix.External.Unity3D/.idea
Source/Sceelix.External.Unity3D/Assets/Plugins
Source/Sceelix.External.Unity3D/Assets/Plugins.meta
Source/Sceelix.External.Unity3D/Assets/_TerrainAutoUpgrade**

Tools/SteamSDK/**
Setups/MacOS/MonoInstaller.pkg

Source/Sceelix.External.Unity3D/Assets/Resources/Project.bytes.meta
Source/Sceelix.External.Unity3D/Assets/Resources/Project.bytes
Source/Sceelix.External.Unity3D/Assets/Main/ReflectionProbe-0.exr
Source/Sceelix.External.Unity3D/Assets/Main/ReflectionProbe-0.exr.meta

Source/tools/**
!Source/tools/packages.config

Source/.idea/**
Source/.vs/**
*.orig
.vs
.idea
